# Python
__pycache__/
*.py[cod]
*.so

# Environnements virtuels
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp

# Fichiers générés par le jeu
settings.json
save_data.json

# OS
.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/